{% extends "base.html" %}

{% block content %}

<h2>Gestione iscrizioni per sport</h2>

<table>

    <tr>
        <th>Sport</th>
        <th>Stato</th>
        <th>Azione</th>
    </tr>

    {% for sport in sports %}

    <tr>

        <td>
            {{ sport }}
        </td>

        <td>

            {% if sports_status[sport] %}

                APERTO

            {% else %}

                CHIUSO

            {% endif %}

        </td>

        <td>

            <form
                method="post"
                action="{{ url_for('toggle_sport', sport_name=sport) }}"
            >

                {% if sports_status[sport] %}

                    <button>
                        Chiudi
                    </button>

                {% else %}

                    <button>
                        Riapri
                    </button>

                {% endif %}

            </form>

        </td>

    </tr>

    {% endfor %}

</table>

<br>

<a href="/admin/logout">
    Logout
</a>

{% endblock %}
